
menu "Phyplus bluetooth applications"
	depends on PHY6222_SDK

	source "$APPSDIR/phy6222/config/simpleBlePeripheral/Kconfig"
	source "$APPSDIR/phy6222/config/sbpAdvScan/Kconfig"
	source "$APPSDIR/phy6222/config/mesh_light/Kconfig"
	source "$APPSDIR/phy6222/config/mijia_mesh_light/Kconfig"
endmenu # Phyplus bluetooth application
