#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config PHYAPP_SIMPLEBLEPERIPHERAL
	tristate "\"Phy6222 BLE app simpleBLEPerpheral!\" example"
	default n
	---help---
		Enable the \"Phy6222 BLE app simpleBLEPerpheral!\" example

if PHYAPP_SIMPLEBLEPERIPHERAL

config PHYAPP_SIMPLEBLEPERIPHERAL_PROGNAME
	string "Program name"
	default "sbp"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config PHYAPP_SIMPLEBLEPERIPHERAL_PRIORITY
	int "Phy6222 BLE app simpleBLEPerpheral task priority"
	default 100

config PHYAPP_SIMPLEBLEPERIPHERAL_STACKSIZE
	int "Phy6222 BLE app simpleBLEPerpheral stack size"
	default DEFAULT_TASK_STACKSIZE

endif
